@import "bootstrap/scss/functions";
@import "./variables";

@import "bootstrap/scss/bootstrap.scss";

.weather_bg {
  background-color: #0e192b;
  width: 100%;
  color: white;
}
.dist_weather {
  margin-bottom: 16px;
  padding: 40px;
  border-radius: 16px;
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2),
  &:nth-child(3) {
    background-color: #232933;
  }
}
.city_weather {
  height: 100%;
  padding: 40px;
  border-radius: 16px;
  background-color: #232933;
}

@media (max-width:992px) {
  .dist_weather,
  .city_weather {
    padding: 26px;
  }
}

.main_temp {
  font-size: 60px;
  font-weight: bold;
}
.air_content {
  padding-left: 32px;
  font-size: 28px;
  font-weight: bold;
}
.title {
  color: #ffffff80;
  font-weight: 700;
}

.subTitle {
  color: #ffffff80;
}

.forecast3HR {
  border-right: 1px solid #ffffff2a;

  &:last-child {
    border-right: 0;
  }

}

@media (max-width:992px) {
  .forecast3HR {
    border-right: 0;
  }
}

.next7DayForecast {
  padding: 22px 0 22px 0;
  border-bottom: 1px solid #ffffff2a;

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0
  }
}